@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: aliceblue;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;    
   
   
}
.navbar{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    
}
.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    
  
}
.logo img{
    width: 100px;

}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    font-size: 20px;
   
}
.links .home{
    padding: 10px;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
   
    
}

@media (max-width: 700px){
    .links{        
        font-size: 10px;
        padding: 20px
    }
    .links span{
        padding: 10px;
    }
   
}
.text-decorate-none{
    text-decoration: none;
    color: black;
    
}
.links span .contador-cart{
    
    font-size: 5px;
    border-radius: 50%;
    width: 10px;
    height: 5px ;
}
.cart-icon{
    font-size: 25px;
}
.badge{
    background-color: black !important;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
.badge h1{
    font-size: 15px;
    width: 25px;
    height: 25px !important;
}
.cart-cart{
    display: flex;
    flex-direction: row;
}
