.container-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
    background-color: white;
    
}
.product-item-description{
    padding: 10px;
}
.product-item-img img{
    padding: 25px;
    width: 100%;
}

.item-marca span{
    font-size: 20px;
}
.item-price span{
    font-size: 30px;
}

.section-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-button button{
    margin: 20px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-style: italic;
}


.section-button span{
    width: 100px;
}
@media (max-width: 700px){
    .container-product{        
        width: 40%;
    }
    .product-item-description{
        padding: 10px;
    }
    .product-item-img img{
        padding: 25px;
        width: 100%;
    }
    
    .item-marca span{
        font-size: 10px;
    }
    .item-price span{
        font-size: 15px;
    }
    
    .section-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .section-button span{
        width: 100px;
    }
    
}